<!--<h1>Не дорогие туры в лучшие места на земле!</h1>
<img class="text_img" src="<%=path_to_image("island-palm.jpg")%>" align="left" style="margin-right: 5px;margin-bottom: 5px;"/><p>Наше Агентство предлагает разнообразный ассортимент туров во все уголки планеты: <br/>от "овощного" отдыха на райских островах до экстремальных экспедиций на северный полюс!</p>
<p>Мы предлагем лучшие цены от самых надежных и проверенных операторов, таких как ANEX Tour, TEZ tour, Coral и другими. </p>
<br/>
</br/>-->
<h1>Дорогие туристы, рады вам предложить горящие туры в Египет!</h1>
<img class="text_img" src="<%=path_to_image("pool_1.jpg")%>" align="right" style="margin-left: 5px;margin-bottom: 5px;"/>
<p>Отдохнуть
сегодня можно в Хургаде ,отдых в отеле 5*  FESTIVAL LE JARDIN RESORT
5* от 12500р. за неделю, вылет из Казани.У туристического мира нет
проблем, туристы-это самый миролюбивый народ, поэтому , не смотря ни
на какие революции и политические игры, отдыхайте смело!!</p>
<p></p>
<br/><br/><br/><br/>
<h1>Отели в Шардже, от 14000р за неделю</h1>
<img class="text_img" src="<%=path_to_image("tulip_inn_1.jpg")%>" align="left" style="margin-right: 5px;margin-bottom: 5px;"/>
<p>Просто удивительные цены на отдых в Арабских Эмиратах, спешите
бронировать отели в Шардже, от 14000р за неделю,TULIP INN SHARJAH
4*-отель в центре Шарджа, напротив крупного торгового центра Mega
Mall.Отель отличный, удобно располагается, рядом пляж и торговые
центры. Отличный выбор для тех кто еще никогда не был в Арабских
Эмиратах..Вылет из Казани 12 февраля, на 7 ночей.!</p>
<p></p>
<p></p>
