<h1>Не дорогие туры в лучшие места на земле!</h1>
<img class="text_img" src="<%=path_to_image("island-palm.jpg")%>" align="left" style="margin-right: 5px;margin-bottom: 5px;"/><p>Наше Агентство предлагает разнообразный ассортимент туров во все уголки планеты: <br/>от "овощного" отдыха на райских островах до экстремальных экспедиций на северный полюс!</p>
<p>Мы предлагем лучшие цены от самых надежных и проверенных операторов, таких как ANEX Tour, TEZ tour, Coral и другими. </p>
<p></p>
<p></p>
<p></p>
