<h1>Как нас найти?</h1>
<p><b>Все очень просто!</b></p>

<p>
	Адрес: <b>г. Казань, ул. Декабристов, 156, оф 16 (2 этаж)</b>
</p>
<p>
	Тел: <b>(843) 203-57-58</b>
</p>
<p>
	E-mail: <a href="mailto:info@nikaclub.ru"><b>info@nikaclub.ru</b></a>
</p>
<img class="contacts_map" src="<%=path_to_image("map.png")%>"/>
